extends ../base/layout

block variables
  - var title = "Escape Room — главная"
  - var currentPage = "Главная"

block main
  main.main
    .container
      .main__wrapper
        h1 Лучшие квесты в Новосибирске
        p Надоело проводить свободное время лёжа на диване? Игровые площадки questroom на целый час погружают вас в мир незабываемых авантюр. Ищите подсказки, решайте головоломки и находите выход из комнаты!
        a(href="quests.html") выбрать квест


block modals
  +modal("modal_feedback")
    +modal-feedback()
  +modal("modal_location modal_no-scale modal_fit-content")
    +modal-location()
