extends ../base/layout

block variables
  - var title = "Главная"

block main
  -
    var pages = [
      {
        name: "UI Kit — components.html",
        src: "components.html"
      },
      {
        name: "Главная — main.html",
        src: "main.html"
      },
      {
        name: "Название страницы (состояние страницы, если отдельное) — ссылка на страницу",
        src: "#"
      },
    ]

  main.container.main-index
    img(src="https://via.placeholder.com/300x150" width="300" alt="Логотип проекта")
    h1 Список страниц и компонентов
    ol
      each page in pages
        li
          a(href= page.src)= page.name
