.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 10px;

  //@include viewport--lg {
  //  padding: 0 136px;;
  //}

  //@include desktop {
  //  padding: 0 24px;
  //}

  @include phones {
    padding: 0 16px;
  }

  &--no-padding {
    @include phones {
      padding: 0;
    }
  }
}
