.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 10px;

  @include tablets {
    padding: 0 32px;
  }

  @include phones {
    padding: 0 16px;
  }

  &--no-padding {
    @include phones {
      padding: 0;
    }
  }
}
