include bottom

mixin header(headerMod, currentPage)
  -
    var headerLinks = [
      {
        href: "quests.html",
        text: "квесты"
      },
      {
        href: "#",
        text: "новичкам"
      },
      {
        href: "#",
        text: "отзывы"
      },
      {
        href: "#",
        text: "акции"
      },
      {
        href: "#",
        text: "контакты"
      }
    ]

  header(class=(headerMod) ? "header header_" + headerMod: "header")
    .header__wrapper
      if(currentPage === "Главная")
        .header__logo
          a
            +icon("logo-group", 134, 52)
      else
        .header__logo
          a(href="index.html", aria-label="Переход на главную")
            +icon("logo-group", 134, 52)

      input#menu-button(type="checkbox")
      label(for="menu-button") МЕНЮ
        span

      .header__container
        nav.header__nav
          ul
            each link in headerLinks
              if(currentPage !== "Главная" && link.text === "квесты")
                li
                  a.active(href=link.href)=link.text
              else
                li
                  a(href=link.href)=link.text

        button(type="button" data-modal="location")
          +icon("location", 16, 21)
          span новосибирск
        a(href="tel:+73832840160") 8 (383) 284 01 60


        +bottom
